// home.scss

// Color Variables
$primary-color: #3498db; // Blue
$secondary-color: #2ecc71; // Green
$accent-color: #e74c3c; // Red
$text-color: #333; // Dark text for light backgrounds
$light-background: #f8f8f8; // Light background color
$background-gradient: linear-gradient(to bottom right, $primary-color, $secondary-color);

body {
  margin: 20;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: $light-background;
  color: $text-color;
}

.home-container {
  padding: 10px;

  .jumbotron {
    background: $background-gradient;
    color: $text-color;

    h1, p {
      color: $text-color;
    }
  }

  .card {
    margin-top: 40px;
    border: none;
    background: $light-background;
    margin: 30px;
    &:hover {
      box-shadow: 0 0 10px rgba($accent-color, 0.5);
    }

    .card-body {
      background: none;
      color: $text-color;
    }

    h2 {
      color: $accent-color;
    }
  }
  // Trong home.scss
.custom-card {
  width: 200px;  // Đặt chiều rộng bạn mong muốn
  height: 200px; // Đặt chiều cao bằng chiều rộng để có hình vuông
  margin: 10px;  // Điều chỉnh khoảng cách giữa các Card
  overflow: hidden;  // Đảm bảo hình vuông bằng cách ẩn nội dung vượt ra ngoài
}


}
