body{
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
}

.app-container {
  .login-container{
    display:  flex;
    flex-direction: column;
    margin:0 auto;
    .title{
      text-align: center;
      font-size: 23px;
      font-weight: 600 ;
      padding-top: 30px;
    }
    .text{
      font-weight: 600;
      padding-bottom: 3px;

    }
    input{
      padding: 12px 7px;
      outline: none;
      margin-bottom: 7px;
      background: #1618230f;
      border-radius: 3px;
      width: 100%;
      &:hover{
        background-color: #dedede;
      }
    }
    .input-2{
      position: relative;
      i {
        cursor: pointer;
        position: absolute;
        top: 17px;
        right: 10px;
      }

    }
   
    button{
      padding: 10px;
      border-radius: 3px;
      outline :none;
      border: none;
      margin-top: 15px;

      &.active{
        background-color: #fe2c55;
        color :white
      }
    }
    button[disabled=disabled], button:disabled {
      cursor: not-allowed;
  }
    
    .back{
      text-align :center;
      margin-top: 30px;
      cursor: pointer;
    }
  }
}
.app-container{
 
 .add-new{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// Page1.scss
// Page1.scss
.func-card {
  width: 200px;
  height: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s, border 0.3s, color 0.3s;

  &.func1 {
    background-color: #888; // Màu xám cho .func1 khi không hover
    &:hover {
      background-color: #aaa; // Màu xám cho .func1 khi hover
      border: 2px solid #666; // Màu viền cho .func1 khi hover
    }
  }

  &.func2 {
    background-color: #888; // Màu xám cho .func2 khi không hover
    &:hover {
      background-color: #aaa; // Màu xám cho .func2 khi hover
      border: 2px solid #666; // Màu viền cho .func2 khi hover
    }
  }
  &.func3 {
    background-color: #888; // Màu xám cho .func2 khi không hover
    &:hover {
      background-color: #aaa; // Màu xám cho .func2 khi hover
      border: 2px solid #666; // Màu viền cho .func2 khi hover
    }
  }
  &.func4 {
    background-color: #888; // Màu xám cho .func2 khi không hover
    &:hover {
      background-color: #aaa; // Màu xám cho .func2 khi hover
      border: 2px solid #666; // Màu viền cho .func2 khi hover
    }
  }
  &.func5{
    background-color: #888; // Màu xám cho .func2 khi không hover
    &:hover {
      background-color: #aaa; // Màu xám cho .func2 khi hover
      border: 2px solid #666; // Màu viền cho .func2 khi hover
    }
  }
  &.func6 {
    background-color: #888; // Màu xám cho .func2 khi không hover
    &:hover {
      background-color: #aaa; // Màu xám cho .func2 khi hover
      border: 2px solid #666; // Màu viền cho .func2 khi hover
    }
  }
}
/* Trong file styles/home.scss hoặc tương tự */
.footer {
  background-color: #bbcdde;
  padding: 30px 0;
  color: #333;
}

.footer h5 {
  color: #237128;
}

.footer p {
  margin-bottom: 0.5rem;
}

/* Tùy chỉnh thêm theo ý muốn của bạn */

}




